{% extends "base.html" %}
{% block app_content %}
    <h3 class="bg-danger text-muted"> Season List</h3>
    <table title="Users" class="table table-striped">
        <th>Season Name</th>
        <th>Season Start</th>
        <th>Season End</th>
        <th>Current Season</th>
        <th>Season Id</th>
        {% for season in seasons %}
            <tr>
                <td>{{season.SeasonName}}</td>
                <td>{{season.SeasonStart}}</td>
                <td>{{season.SeasonEnd}}</td>
                <td>{{season.CurrentSeason}}</td>
                <td><a title="user manager"
                       class="btn btn-default btn-xs"
                       href="{{ url_for('admin.seasonman', id=season.idseason) }}">
                    {{season.idseason}} <span class="glyphicon glyphicon-edit"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}