{% extends "base.html" %}
{% block app_content %}
    <h4 class="bg-warning text-muted" align="center">Registered Users</h4>
    <table title="Users" class="table table-striped">
        <th>User Name</th>
        <th>Email</th>
        <th>User Role</th>
        <th>Player Name</th>
        <th>Last Seen</th>
        <th>Theme</th>
        <th>User Id</th>
        <th colspan="2"></th>
        {% for user in userlist %}
            <tr>
                <td>{{user.UserName}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.UserRole}}</td>
                <td>{{user.FirstName}} {{user.Surname}}</td>
                <td>{{user.last_seen}}</td>
                <td>{{user.theme}}</td>
                <td>{{user.id}}</td>
                <td><a title="user manager"
                       class="btn btn-default btn-xs"
                       href="{{ url_for('admin.userman', id=user.id) }}">
                    <span class="glyphicon glyphicon-edit"></a>
                </td>
                <td><a title="delete user"
                    class="btn btn-danger btn-xs"
                    href="{{ url_for('admin.deleteuser', userid=user[1]) }}">
                    Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}