{% extends "base.html" %}

{% block content %}
    <h1>Create New Match</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.teampick.label }}
            <br>
            {{ form.teampick() }}
        </p>
        <p>
            {{ form.opposingteam.label }}
            <br>
            {{ form.opposingteam(size=45) }}
        </p>
        <p>
            {{ form.matchdate.label }}
            <br>
            {{ form.matchdate() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}