<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>
        Home Page - {{title}}
    </title>
    {% else %}
    <title>
        Home Page - You Rack Discipline
    </title>
    {% endif %}
</head>
<body>
    <!-- TODO Enable admin only menu for me, but not for others -->
    <div>
        Navigate:
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('login') }}">Login</a> |
        <a href="{{ url_for('addmatch') }}">Add Match</a> |
        <a href="{{ url_for('addmatchup') }}">Add MatchUp</a> |
        <a href="{{ url_for('ranking') }}">Rankings</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
</body>
</html>