<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #000099;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h1 {
    text-align: center;
    color: #000099;
}

h2 {
    text-align: left;
    color: #cc6600;
}

h3 {
    text-align: right;
}
</style>
<head>
    {% if title %}
    <title>
        Home Page - {{title}}
    </title>
    {% else %}
    <title>
        Home Page - You Rack Discipline
    </title>
    {% endif %}
</head>
<body>
    <!-- TODO Enable admin only menu for me, but not for others -->
    <div>
        Navigate:
        <a href="{{ url_for('index') }}">The Bog</a> |
        <a href="{{ url_for('login') }}">Login</a> |
        <a href="{{ url_for('addmatch') }}">Add Match</a> |
        <a href="{{ url_for('addmatchup') }}">Add Result</a> |
        <a href="{{ url_for('ranking') }}">Rankings</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
</body>
</html>