{% extends "base.html" %}
{% block app_content %}
    <h4 class="text-muted" align="center">Selected History for {{history[0].Player.FirstName}} {{history[0].Player.Surname}}</h4>

    <div class="table-responsive">
    <table title="History" class="table table-striped">
        <th>Season</th>
        <th>Match Date</th>
        <th>Play Off</th>
        <th>Your Rank</th>
        <th>Opponent</th>
        <th>Rank</th>
        <th>Score</th>
        <th>Result</th>
        <th>Opposing Team</th>
        {% for matchup in history %}
            <tr>
                <td>{{matchup.Season.SeasonName}}</td>
                <td>{{matchup.Match.MatchDate}}</td>
                <td>
                    {% if matchup.Match.PlayOff == 'Y' %}
                        <span class="label label-info">PLAYOFF</span>
                    {% endif %}
                </td>
                <td>{{matchup.MatchUp.MyPlayerRank}}</td>
                <td><a class="tab" title="show opponent history"
                       href="{{ url_for('main.opponent', opp=matchup.MatchUp.OpponentName) }}">
                        {{matchup.MatchUp.OpponentName}}</a>
                </td>
                <td>{{matchup.MatchUp.OpponentRank}}</td>
                <td>{{matchup.MatchUp.MyPlayerScore}} : {{matchup.MatchUp.OpponentScore}}</td>
                <td>
                    {% if matchup.MatchUp.WinLose == "W" %}
                        <span class="label label-success">WIN</span>
                    {% else %}
                        <span class="label label-warning">LOSS</span>
                    {% endif %}
                </td>
                <td>
                    <a title="show team history" href="{{ url_for('main.team', team=matchup.Match.OpposingTeam) }}">
                        {{matchup.Match.OpposingTeam}}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}