{% extends "base.html" %}
{% block app_content %}
    <h1> Player History - {{player.FirstName }} {{player.Surname}}</h1>
    <table title="History" class="table table-striped">
        <th>Opposing Team</th>
        <th>Match Date</th>
        <th>Play Off Match</th>
        <th>Your Rank</th>
        <th>You Score</th>
        <th>Opponent</th>
        <th>Their Rank</th>
        <th>Their Score</th>
        <th>W/L</th>
    {% for matchup in history %}
        <tr>
            <td>{{matchup[1]}}</td>
            <td>{{matchup[2]}}</td>
            {% if matchup[3] == 'Y' %}
                <td>Y</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{matchup[4]}}</td>
            <td>{{matchup[5]}}</td>
            <td>{{matchup[6]}}</td>
            <td>{{matchup[7]}}</td>
            <td>{{matchup[8]}}</td>
            <td>{{matchup[9]}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}