{% extends "base.html" %}
{% block app_content %}
    <h1 class="text-muted" align="center">Player History - {{player.FirstName }} {{player.Surname}}</h1>

    <h4 class="text-muted" align="center">Consolidated Summary</h4>
    <div class="table-responsive">
    <table title="Summary" class="table table-striped">
        <th>Ranked</th>
        <th>Matches</th>
        <th>Win Pct</th>
        <th>Racks</th>
        <th>Rack Pct</th>
        {% for stats in summary %}
            <tr>
                <td>{{stats.MyPlayerRank}}</td>
                <td>{{stats.MatchesPlayed}}</td>
                <td>{{"{:.2%}".format(stats.WinPct)}}</td>
                <td>{{stats.ActRacksWon}} : {{stats.ActRacksLost}}</td>
                <td>{{"{:.2%}".format(stats.RackPct)}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <h4 class="text-muted" align="center">Record by Season</h4>
    <div id="chart" align="center">
        <embed type="image/svg+xml" src= {{ chart|safe }} width="800" height="300" class="img-responsive"/>
    </div>

    <h4 class="text-muted" align="center">Details by Opponent Ranking</h4>
    <div class="table-responsive">
    <table title="By Rank" class="table table-striped">
        <th>Versus Rank</th>
        <th>Matches</th>
        <th>Win Pct</th>
        <th>Racks</th>
        <th>Rack Pct</th>
        {% for stats in details %}
            <tr>
                <td>{{stats.OpponentRank}}</td>
                <td>{{stats.MatchesPlayed}}</td>
                <td>{{"{:.2%}".format(stats.WinPct)}}</td>
                <td>{{stats.ActRacksWon}} : {{stats.ActRacksLost}}</td>
                <td>{{"{:.2%}".format(stats.RackPct)}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <h4 class="text-muted" align="center">Match Up History</h4>

    <div class="table-responsive">
    <table title="History" class="table table-striped">
        <th>Match Date</th>
        <th>Play Off</th>
        <th>Your Rank</th>
        <th>Opponent</th>
        <th>Rank</th>
        <th>Score</th>
        <th>Result</th>
        <th>Opposing Team</th>
        {% for matchup in history %}
            <tr>
                <td>{{matchup.Match.MatchDate}}</td>
                {% if matchup.Match.Playoff == 'Y' %}
                    <td>Y</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{matchup.MatchUp.MyPlayerRank}}</td>
                <td><a class="tab" title="show opponent history"
                       href="{{ url_for('main.opponent', opp=matchup.MatchUp.OpponentName) }}">
                        {{matchup.MatchUp.OpponentName}}</a>
                </td>
                <td>{{matchup.MatchUp.OpponentRank}}</td>
                <td>{{matchup.MatchUp.MyPlayerScore}} : {{matchup.MatchUp.OpponentScore}}</td>
                <td>
                    {% if matchup.MatchUp.WinLose == 'I' %}
                        <span class="label label-default">IN PROGRESS</span>
                    {% else %}
                        {% if matchup.MatchUp.WinLose == "W" %}
                            <span class="label label-success">WIN</span>
                        {% else %}
                            <span class="label label-warning">LOSS</span>
                        {% endif %}
                {% endif %}
                </td>
                <td>
                    <a title="show team history" href="{{ url_for('main.team', team=matchup.Match.OpposingTeam) }}">
                        {{matchup.Match.OpposingTeam}}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}