{% extends "base.html" %}

{% block content %}
    <h1> You Rack Discipline - Amsterdam Team 9 - {{season}} </h1>
    <h2> The Bog of Eternal Stench</h2>
    <h3> The next match is on {{nextmatch.MatchDate}} @ {{nextmatch.StartTime}} - we are playing "{{nextmatch.OpposingTeam}}"</h3>
    <table title="The Bog">
        <th>Surname</th>
        <th>Lost On</th>
        <th>Won On</th>
        <th>Losses</th>
        <th>Played</th>
        <th>Bogged</th>
        <th>Bogged On</th>
        {% for player in players %}
        <tr>
            <td>{{player[2]}}</td>
            <td>{{player[3]}}</td>
            <td>{{player[4]}}</td>
            <td>{{player[5]}}</td>
            <td>{{player[6]}}</td>
            <td>{{player[7]}}</td>
            <td>{{player[8]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>
    <br>
    <div>
        <h2>Bog Rules:</h2>
        <ol>
            <li>Lose, and you enter the Bog</li>
            <li>You won last week and have a spot but can't make it, you enter the Bog</li>
            <li>In the bog but can't make it to claim your spot, you keep your place in the queue</li>
        </ol>
        <br>
        <h2>How to exit the bog:</h2>
        <ol>
            <li>First in, first out - i.e. by date you enter the Bog</li>
            <li>Least number of loses</li>
            <li>Least number of matches</li>
            <li>Captain's Discretion</li>
        </ol>
    </div>
{% endblock %}