{% extends "base.html" %}
{% block app_content %}

    {% if current_user.UserRole == 'Admin' %}
        <h2 class="bg-warning text-muted" align="center">Match Result</h2>
    {% else %}
        <h2 class="text-muted" align="center">Match Result</h2>
    {% endif %}
    {% if results %}
        <h4>{{results[0].Match.MatchDate}} versus '{{results[0].Match.OpposingTeam}}'</h4>
    {% else %}
        <h4>No Scores Posted</h4>
    {% endif %}
    <div class="table-responsive">
        <table title="Results" class="table table-striped">
                {% include '_scores.html' %}
        </table>
    </div>
    <h3 align="center" class="text-muted">Matches {{result.MatchUpsWon}} : {{result.MatchUpsLost}} -
                Racks {{result.RacksWon}} : {{result.RacksLost}} </h3>
    {% if current_user.UserRole == 'Admin' %}
        <a class="btn btn-default btn-xs"
               title="modify date or time"
               href="{{ url_for('admin.updatematch', matchid=results[0].Match.idmatch) }}">
            Update Match </a>
        <a class="btn btn-danger btn-xs"
           title="delete this match"
           data-toggle="modal"
           data-target="#areyousureMatch">
            Delete Match</a>
        <a class="btn btn-primary btn-xs"
           title="add head to head"
           href="{{ url_for('admin.addmatchup', matchid=results[0].Match.idmatch) }}">
            Add Match Up</a>
    {% endif %}

    {% include '_areyousureMatch.html' %}

{% endblock %}