{% extends "base.html" %}
{% block app_content %}
    <h1> Match Results </h1>
    <h2>{{results[0].Match.MatchDate}} versus '{{results[0].Match.OpposingTeam}}'</h2>
    <table title="Results" class="table table-striped">
        <th>Player</th>
        <th>Rank</th>
        <th>Opponent</th>
        <th>Opp Rank</th>
        <th>Score</th>
        <th>WinLose</th>
        {% if current_user.UserRole == 'Admin' %}
            <th>Action</th>
        {% endif %}
        {% for result in results %}
        <tr>
            <td>{{result.Player.FirstName}} {{result.Player.Surname}}</td>
            <td>{{result.MatchUp.MyPlayerRank}}</td>
            <td>{{result.MatchUp.OpponentName}}</td>
            <td>{{result.MatchUp.OpponentRank}}</td>
            <td>{{result.MatchUp.MyPlayerScore}} : {{result.MatchUp.OpponentScore}}</td>
            <td>{{result.MatchUp.WinLose}}</td>
            {% if current_user.UserRole == 'Admin' %}
                <td><a title="delete matchup result" class="tab" href="{{ url_for('deletematchup', matchupid=result.MatchUp.idmatchup, matchid=result.Match.idmatch) }}">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}