{% extends "base.html" %}

{% block app_content %}
<h3 class="text-muted" align="center">Phoning It In
{% if collapse == 'N' %}
        <a class="btn btn-info btn-xs glyphicon glyphicon-collapse-down" title="Show Less" href="{{ url_for('main.phonescore', collapse='Y') }}"></a>
{% else %}
        <a class="btn btn-info btn-xs glyphicon glyphicon-collapse-up" title="Show All" href="{{ url_for('main.phonescore', collapse='N') }}"></a>
{% endif %}
</h3>
<div class="jumbotron">
    <table title="Phone Scoring" class="table table-striped">
        {% if results %}
            <div class="table-striped">
                {% for result in results %}
                    {% if collapse == 'N' or (collapse == 'Y' and result.MatchUp.WinLose == "I" ) %}
                        <tr align="center">
                            <td>
                                <a title="display player stats"
                               class="tab"
                               href="{{ url_for('main.history', player_id=result.Player.idplayer) }}">
                                {{result.Player.FirstName}} {{result.Player.Surname}}</a>
                                    ({{result.MatchUp.MyPlayerRank}})
                                <br>versus<br>
                                <a class="tab" title="show opponent history" href="{{ url_for('main.opponent', opp=result.MatchUp.OpponentName) }}">
                                {{result.MatchUp.OpponentName}}</a> ({{result.MatchUp.OpponentRank}})
                            </td>
                            <td>Race: {{'{} on {}'.format(hcaps[result.MatchUp.MyPlayerRank][result.MatchUp.OpponentRank][0],
                                hcaps[result.MatchUp.MyPlayerRank][result.MatchUp.OpponentRank][1])}}<br>
                                {% if result.MatchUp.WinLose == 'I' %}
                                    <h4><span class="label label-default">IN PROGRESS</span></h4>
                                {% else %}
                                    {% if result.MatchUp.WinLose == "W" %}
                                        <h4><span class="label label-success">WIN {{result.MatchUp.MyPlayerScore}}
                                            : {{result.MatchUp.OpponentScore}}</span></h4>
                                    {% else %}
                                        <h4><span class="label label-warning">LOSS {{result.MatchUp.MyPlayerScore}}
                                            : {{result.MatchUp.OpponentScore}}</span></h4>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr></tr>
                    {% endif %}
                    {% if result.MatchUp.WinLose == "I" %}
                        <tr align="center">
                            {% if current_user.UserRole == 'Admin' or current_user.UserRole == 'Helper' %}
                                <td><a title="add one"
                                    class="btn btn-default btn-sm"
                                    href="{{ url_for('main.updatematchup', matchupid=result.MatchUp.idmatchup,
                                    player='MyPlayer', return_to=return_to, collapse=collapse) }}">
                                    +</a>
                                <a title="update live score"
                                   class="btn btn-default btn-sm"
                                    href="{{ url_for('main.livescore', matchupid=result.MatchUp.idmatchup,
                                     return_to=return_to, collapse=collapse) }}">
                                    {{result.MatchUp.MyPlayerScore}} : {{result.MatchUp.OpponentScore}}
                                    <span class="glyphicon glyphicon-edit">
                                </a>
                                <a title="add one"
                                   class="btn btn-default btn-sm"
                                    href="{{ url_for('main.updatematchup', matchupid=result.MatchUp.idmatchup,
                                    player='Opponent', return_to=return_to, collapse=collapse) }}">
                                +</a>
                                </td>
                                <td><a class="btn btn-danger btn-xs"
                                       title="delete this match up"
                                       data-toggle="modal"
                                       data-target="#areyousureMatchUp{{result.MatchUp.idmatchup}}">
                                    Delete</a>
                                </td>
                            {% endif %}
                        </tr>
                        {% include '_areyousureMatchUp.html' %}
                    {% else %}
                        <tr></tr>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </table>
    <div class="row">
        <p align="center">Matches {{live.MatchUpsWon}} : {{live.MatchUpsLost}} -
                            Racks {{live.RacksWon}} : {{live.RacksLost}} </p>

    </div>
    <div class="row">
        <br>
        <a class="btn btn-primary btn-sm" title="add head to head" href="{{ url_for('admin.addmatchup', matchid=nextmatch.idmatch) }}">
                        Add Match Up</a>
    </div>
</div>


{% endblock %}
