{% extends "base.html" %}
{% block app_content %}
    <h2 class="text-muted" align="center"> Recent Form </h2>
    <div class="table-responsive">
        <table title="Team Recent Form" class="table table-hover">
            <tr>
                <th>Player</th>
                <th>Form</th>
                <th>
                    <span class="glyphicon  glyphicon-menu-left"/>
                    <b>History with Opponent Ranking</b>
                    <span class="glyphicon  glyphicon-menu-right"/>
                </th>
            </tr>
            {% for player in player_form %}
                <tr>
                    <td>
                        <a title="display player stats"
                           class="tab"
                           href="{{ url_for('main.history', player_id=player[1]) }}">
                            {{player[0]}}
                        </a>
                    </td>
                    <td>{{ player[2] }}</td>
                    <td>
                        {%  for f in player[3] %}
                            {% if f[0] == "W" %}
                                <span class="label label-success">{{f[1]}}</span>
                            {% else %}
                                <span class="label label-warning">{{f[1]}}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}