{% extends "base.html" %}
{% block app_content %}
    <h1> Season Results - {{season}}</h1>
    <table title="Season History" class="table table-hover">
        <th>Opposing Team</th>
        <th>Match Date</th>
        <th>Games For</th>
        <th>Games Against</th>
        <th>Racks For</th>
        <th>Racks Against</th>
        <th>Result</th>
        <th>Details</th>
        {% for match in history %}
        <tr>
            <td>{{match.Match.OpposingTeam}}</td>
            <td>{{match.Match.MatchDate}}</td>
            <td>{{match.Result.MatchUpsWon}}</td>
            <td>{{match.Result.MatchUpsLost}}</td>
            <td>{{match.Result.RacksWon}}</td>
            <td>{{match.Result.RacksLost}}</td>
            <!-- TODO Because the trigger assigns 0 until all matchups are entered incomplete results show as a loss -->
            {% if match.Result.DidWeWin == 1 %}
                <td>W</td>
            {% else %}
                <td>L</td>
            {% endif %}
            <td><a class="tab"
                   title="show individual games"
                   href="{{ url_for('matchresult', matchid=match.Match.idmatch) }}">
                Match Detail</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}