{% extends "base.html" %}
{% block app_content %}
    <h2 class="text-muted" align="center">Team History - {{team}}</h2>
    <h4 class="text-muted" align="center">Match Results</h4>
    <div class="table-responsive">
        <table title="Team History" class="table table-striped">
            <th></th>
            <th>Date</th>
            <th>Play Off</th>
            <th>Games</th>
            <th>Racks</th>
            <th>Result</th>
            <th class="text-muted">Match Details..</th>
            <th class="text-muted">Race</th>
            <th class="text-muted">Score</th>
            <th class="text-muted">Opponent</th>
            {% set ns = namespace(previous=0) %}
            {% for match in history %}
                <tr>
                    {% if ns.previous != match.Match.idmatch %}
                        <td>
                            {% if current_user.UserRole == 'Admin' %}
                                <a title="edit match details"
                                    class="btn btn-default btn-xs"
                                    href="{{ url_for('main.matchresult', matchid=match.Match.idmatch) }}">
                                    <span class="glyphicon glyphicon-edit"></a>
                            {% endif %}
                        </td>
                        <td>
                            {{match.Match.MatchDate}}
                        </td>
                        <td>
                            {% if match.Match.PlayOff == 'Y' %}
                                <span class="label label-info">PLAYOFF</span>
                            {% endif %}
                        </td>
                        <td>{{match.Result.MatchUpsWon}} : {{match.Result.MatchUpsLost}}</td>
                        <td>{{match.Result.RacksWon}} : {{match.Result.RacksLost}}</td>
                        {% if inprogress == True and ns.previous == 0 %}
                            <td><span class="label label-default">IN PROGRESS</span></td>
                        {% elif match.Result.DidWeWin == 1 %}
                            <td><span class="label label-success">WIN</span></td>
                        {% else %}
                            <td><span class="label label-warning">LOSS</span></td>
                        {% endif %}
                    {% else %}
                        <td></td><td></td><td></td><td></td><td></td><td></td>
                    {% endif %}
                    <td>
                        <a title="display player stats"
                            class="tab"
                            href="{{ url_for('main.history', player_id=match.Player.idplayer) }}">
                        {{match.Player.FirstName}} {{match.Player.Surname}}</a>
                         ({{match.MatchUp.MyPlayerRank}})
                    </td>
                        <td>{{'{} on {}'.format(hcaps[match.MatchUp.MyPlayerRank][match.MatchUp.OpponentRank][0],
                                hcaps[match.MatchUp.MyPlayerRank][match.MatchUp.OpponentRank][1])}}
                    </td>
                    <td>
                        {% if match.MatchUp.WinLose == "W" %}
                            <span class="label label-success">
                                WIN {{match.MatchUp.MyPlayerScore}} : {{match.MatchUp.OpponentScore}}
                            </span>
                        {% else %}
                            <span class="label label-warning">
                                LOSS {{match.MatchUp.MyPlayerScore}} : {{match.MatchUp.OpponentScore}}
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="tab" title="show opponent history"
                            href="{{ url_for('main.opponent', opp=match.MatchUp.OpponentName) }}">
                            {{match.MatchUp.OpponentName}}</a>
                        ({{match.MatchUp.OpponentRank}})
                    </td>
                </tr>
                {% set ns.previous = match.Match.idmatch %}
            {% endfor %}
        </table>
    </div>
{% endblock %}