{% extends "base.html" %}
{% block content %}
    <h1> User List</h1>
    <table title="Users">
        <th>User Id</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Conf Code</th>
        <th>Verified</th>
        <th>User Role</th>
        <th>Player Id</th>
    {% for user in userlist %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.UserName}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.ConfCode}}</td>
            <td>{{user.Verified}}</td>
            <td>{{user.UserRole}}</td>
            <td>{{user.Player_ID}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}