{% extends "base.html" %}
{% block app_content %}
    <h1> Linked Users</h1>
    <table title="Users" class="table table-striped">
        <th>User Id</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Conf Code</th>
        <th>Verified</th>
        <th>User Role</th>
        <th>Player Name</th>
    {% for user in userlist %}
        <tr>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[4]}}</td>
            <td>{{user[5]}}</td>
            <td>{{user[6]}}</td>
            <td>{{user[7]}} {{user[8]}}</td>
        </tr>
    {% endfor %}
{% endblock %}