{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="text-muted">Make Yourself Known to Me</h3>
            {{ wtf.quick_form(form, button_map={'submit':'info'}) }}
        <hr>
        <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>


        <p>
        Forgot Your Password?
        <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
        </p>

        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}